body{
    background-color: lightblue;
    color: black;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px); /* Subtracts the margin */
    margin: 10px; /* Adds space around the div */
    border: 2px solid red; /* Just for visualization */
}



.container{
    margin: 10px;
    width: 100vw;
    height: calc(100vh - 40px);
    background-color: orange;
    border: solid 2px black;
}
