body{
  background-color: lightblue;
  font-family: "Space Grotesk", sans-serif;
}

.header {
  
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  flex-shrink: 0; /* Prevents the header from shrinking */
}


.exit-button{
  background-color: red;
  width: 100px;
  height: 60px;
  margin: 20px 0 0 20px;
  border-radius: 5vh;
}

.container {
  margin: 10px;
  width: calc(100% - 20px); /* Adjusted width to take into account outer margin */
  height: calc(100vh - 40px); /* Adjusted height */
  background-color: orange;
  border: solid 3px black;
  border-radius: 5vh;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: solid black;
}

.result{
  background-color: rgb(216, 216, 216); /* Makes the div white */
  width: calc(100% - 40px); /* Full width minus 10px margin on each side */
  height: 10fr; /* Set a height for the div */
  margin: 10px 20px; /* Center the div */
  padding: 20px; /* Padding inside the div */
  border-radius: 5vh; /* Rounded corners */
  text-align: right; /* Align text to the right */
  box-sizing: border-box; /* Ensures padding is included in width/height calculations */
  font-size: 30px;
  overflow: auto;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(4, 100px); /* 4 equal rows with a height of 100px */
  gap: 10px; /* Space between the grid items */
  width: 450px; /* Container width */
  height: 450px; /* Container height */
  margin: 20px auto; /* Center the grid */
  transition: 1s;
}

.grid-item {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5vh;
  transition: 1s;
}