body {
  background-color: lightblue;
  color: black;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
}

.mainContent{
  opacity: 0;
  transition: opacity 2s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px); /* Subtracts the margin */
  margin: 10px; /* Adds space around the div */
  border: #459fa5;
}

.container {
  margin: 10px;
  width: 100vw;
  height: calc(100vh - 40px);
  background-color: orange;
  border: solid 3px black;
  border-radius: 5vh;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column; /* Ensure buttons are aligned vertically */
}

.header {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  flex-shrink: 0; /* Prevents the header from shrinking */
}

.button-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  gap: 20px; /* Space between buttons */
  flex-grow: 1; /* Let the button container grow to fill available space */
  justify-content: space-between;
  margin: 0 20px 20px;
}

.button-container button {
  padding: 20px 20px;
  font-size: 16px;
  flex-grow: 1;
  border-radius: 5vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: large;
  transition: 0.25s;
  border: solid 3px;
}

.button-container button:hover {
  transform: scale(1.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
}

.button-container button:active {
  transform: scale(1.08);
}

#settings-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
  display: none; /* Hidden by default */
  z-index: 9999; /* Ensure it's on top of the main content */
  justify-content: center;
  align-items: center;
}

.settings-container {
  width: 50vw;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.settings-button{
  margin: 20px 0 0 20px;
  width: 50px;
  height: 50px;
  align-items: center;
  border: none;
  background-color: red;
}

.setting-button-icon{
  width: 40px;
  height: 40px;
  
}

.exit-button{
  background-color: red;
  margin: 20px 0 0 20px;
  border-radius: 5vh;
}

.result-box {
  background-color: rgb(216, 216, 216); /* Makes the div white */
  width: calc(100% - 40px); /* Takes up full width minus 10px margin on each side */
  height: 100px; /* Set a height for the div */
  margin: 10px 20px; /* Center the div */
  padding: 20px; /* Padding inside the div */
  border-radius: 5vh; /* Rounded corners */
  text-align: right; 
}

